<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true">
	<appender name="consoleAppender"
		class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<charset>UTF-8</charset>
			<!-- <Pattern>%d %-4relative [%thread] %-5level %logger{50} - %msg%n
			</Pattern> -->
			<Pattern>%d{d-MM-YYYY-HH:mm:ss} [%t] %-5level %logger{50} - %msg%n </Pattern>
			
		</encoder>
	</appender>

	<logger name="org.apache" level="WARN" />
	<logger name="httpclient" level="WARN" />


	<timestamp key="timeStamp" datePattern="dd-MM-yyy-HH-mm-ss" />
	<appender name="FILE"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${user.dir}/logs/app-${timeStamp}.log</file>
		<rollingPolicy
			class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
			<fileNamePattern>logs/employee-%i.log.gz</fileNamePattern>
			<minIndex>1</minIndex>
			<maxIndex>2</maxIndex>
		</rollingPolicy>
		<triggeringPolicy
			class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
			<maxFileSize>2MB</maxFileSize>
		</triggeringPolicy>
		<encoder>
			<charset>UTF-8</charset>
			<pattern>%d %-4relative [%thread] %-5level %logger{50} - %msg%n
			</pattern>
		</encoder>
	</appender>
	<root level="ALL">
		<appender-ref ref="consoleAppender" />
		<appender-ref ref="FILE" />
	</root>
</configuration>